 <!-- Blog Section -->
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Blog</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div align="center">
                    <h1> MUSIC MAKES BLOG CONTROL</h1>
                </div>
                <div class="col-lg-4 col-lg-offset-4">
                
                        <h4 align="center"><a href="/how-i-met-ruby">1. How i met Ruby</a></h4>
                   
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.linkedin.com/in/thibaultmutabazi" class="btn btn-lg btn-outline">
                       More
                    </a>
                </div>
            </div>
        </div>
    </section>
