---
layout: default
---
<article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%-d %b %Y" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time> &#8226; <span class="post-meta__tags">on {% for tag in page.tags %}<a href="{{ site.baseurl }}tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</span>
    </div>
    <h1 align="center" class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
  </section>
<hr>

<div class="social-share" align="right">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" class="tag">
        <span class="term"><i class="fa fa-facebook-square"></i> Share</span>
    </a>
    <a href="https://twitter.com/intent/tweet?text={{page.title}} {{ site.url }}{{ page.url }} by @eyewritecode" title="Share on Twitter" class="tag">
        <span class="term"><i class="fa fa-twitter-square"></i> Tweet</span>
    </a>
</div>	<br>
  {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
</article>
{% if page.comments != false %}{% include disqus.html %}{% endif %}
